{% extends 'base.html' %}

{% block title %}Buscar Torre{% endblock %}

{% block content %}
    <h1 class="titulo-km">DIGITE O KM PARTINDO DA SUBESTAÇÃO DE {{ texto_linha.split(' - ')[0].strip().upper().replace('LINHA ', '') }}</h1>
    <form action="{{ url_for('processar_busca') }}" method="post" class="form-km">
        <label for="valor_a">KM:</label>
        <input type="text" id="valor_a" name="valor_a" autocomplete="off">

        <h1 class="titulo-km">DIGITE O KM PARTINDO DA SUBESTAÇÃO DE {{ texto_linha.split(' - ')[1].strip().upper().replace('LINHA ', '') }}</h1>
        <label for="valor_b">KM:</label>
        <input type="text" id="valor_b" name="valor_b" autocomplete="off">

        <input type="hidden" name="chave" value="{{ chave }}">
        <input type="hidden" name="col_a" value="{{ col_a }}">
        <input type="hidden" name="col_b" value="{{ col_b }}">
        <input type="hidden" name="nome_arquivo" value="{{ nome_arquivo }}">
        <button type="submit">BUSCAR</button>
    </form>
    <div style="text-align:center;margin-top:32px;">
        <a class="voltar-link" href="{{ url_for('index') }}">VOLTAR</a>
    </div>
{% endblock %}